<!DOCTYPE html>
<html>
	<head>
		<title>SushiLafranc</title>

		<link rel="stylesheet" type="text/css" href="/lib/normalize-css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/lib/flip-clock/flipclock.css" />
		<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
	</head>
	<body class="error">
		<img src="/assets/img/error-image.jpg" title="Harry c'est cassé" />

		<a href="Réessayer" title="Réessayer">Réessayer</a>
	</body>
</html>